<li class="h-item item">
  <div class="p-title title"><%= item.title %></div>
  <div class="p-status status"><%= item.status %></div>
  <div class="p-description description"><%= item.description %></div>
  <!--<div><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></div>-->
  <div class="actions">
    <%= render :partial => "actions", :locals => {:item => item} %>
  </div>
  <div class="links">
    <div><%= link_to 'Show', item, :rel => "item" %></div>
    <div><%= link_to 'Edit', edit_item_path(item) %></div>
  </div>
</li>
