<li class="h-item">
  <div class="p-name"><%= item.title %></div>
  <div class="p-status"><%= item.status %></div>
  <div class="p-description"><%= item.description %></div>
  <div class="p-forms">
    <%= render :partial => "actions", :locals => {:item => item} %>
  </div>
  <div class="p-links">
    <%= link_to 'Show', item, :rel => "item" %>
    <%= link_to 'Edit', edit_item_path(item), :rel => "edit-form" %>
  </div>
</li>
