<div itemscope itemprop="item" itemtype="http://localhost/KanbanItem" class="h-kanban-item item">
  <div itemprop="title" class="p-title"><%= item.title %></div>
  <div itemprop="status" class="p-status"><%= item.status %></div>
  <div><%= item.description %></div>
  <!--<div><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></div>-->
  <div>

<%= render :partial => "actions", :locals => {:item => item} %>

  </div>
  <div><%= link_to 'Show', item, :rel => "item" %></div>
  <div><%= link_to 'Edit', edit_item_path(item) %></div>
</div>
