<div class="<%= get_classes("main category") %>">
  <h1>
    <%= link_to 'My Kanban board', {:action => "index"}, "itemprop" => "link", :rel => "board"  %>
  </h1>
  <div class="<%= get_classes("p-links navigation") %>">
    <%= link_to 'Navigation', {:action => "navigation"}, :rel => "index" %>
  </div>


  <div class="h-column">

    <h1><%= @status %></h1>

    <div> 
      <ol class="p-items">
        <% @items.each do |item| %>
          <%= render :partial => "list_item", :locals => {:item => item} %>
        <% end %>
      </ol>

      <% if @ready_to_pull %>
        <div class="p-forms">
          <form data-rel="pull" action="<%= url_for(:action => 'pull') %>" method="POST" title="Pull item" >
            <%= select_tag "id", options_for_select(@ready_to_pull) %>
            <input type="hidden" name="status" value="<%= @status.downcase %>" /> 
            <input title="Pull" type="submit" value="Pull"></input>
          </form>
        </div>
      <% end %>
    </div>
  </div>
</div>
