<!-- TODO Extract to partial -->
<script type="text/javascript">
  $(document).on("onNavigationLoaded", function(){
      var url = $("a[rel=board]").attr("href");
      var column = $(".main[itemtype$=Column]");
      if($(".extra").length === 0) {
        column.before($("<div class='extra'/>"));
      }
      $(".extra").load(url + " .columns");
  });
</script>
    <div class="main" itemscope itemtype="http://localhost/KanbanColumn" class="<%= @status %>">

      <h1><%= @status %></h1>

      <div> 
        <div>
          <% @items.each do |item| %>
            <%= render :partial => "list_item", :locals => {:item => item} %>
          <% end %>
        </div>

        <% if @ready_to_pull %>

          <form class="pull" action="<%= url_for(:action => 'pull') %>" method="POST" title="Pull item" >
            <%= select_tag "id", options_for_select(@ready_to_pull) %>
            <input type="hidden" name="status" value="<%= @status.downcase %>" /> 
            <input title="Pull" type="submit" value="Pull"></input>
          </form>
        <% end %>
      </div>

      <div itemscope itemprop="links" id="links">
        <%= link_to 'Navigation', {:action => "navigation"}, "itemprop" => "link", :rel => "index" %>
      </div>

    </div>
