<div class="main" itemscope itemtype="http://localhost/KanbanBoard">

  <h1>My kanban board</h1>

  <%= link_to 'New Item', new_item_path, :rel => "create" %>

  <div class="columns">

    <div itemscope itemprop="column" itemtype="http://localhost/KanbanCategory" class="backlog">
    <h2><%= link_to 'Backlog', {:action => "backlog"}, "itemprop" => "link", :rel => "backlog" %></h2>
    <% @items.where(:status => 'backlog').each do |item| %>
        <%= render :partial => "list_item", :locals => {:item => item} %>
      <% end %>
    </div>

    <div itemscope itemprop="column" itemtype="http://localhost/KanbanCategory" class="working">
      <h2><%= link_to 'Working', {:action => "working"}, "itemprop" => "link", :rel => "working" %></h2>
      <% @items.where(:status => 'working').each do |item| %>
        <%= render :partial => "list_item", :locals => {:item => item} %>
      <% end %>
    </div>

    <div itemscope itemprop="column" itemtype="http://localhost/KanbanCategory">
      <h2><%= link_to 'Verify', {:action => "verify"}, "itemprop" => "link", :rel => "verify" %></h2>
      <% @items.where(:status => 'verify').each do |item| %>
        <%= render :partial => "list_item", :locals => {:item => item} %>
      <% end %>
    </div>

    <div itemscope itemprop="column" itemtype="http://localhost/KanbanCategory">
      <h2><%= link_to 'Done', {:action => "done"}, "itemprop" => "link", :rel => "done" %></h2>
      <% @items.where(:status => 'done').each do |item| %>
        <%= render :partial => "list_item", :locals => {:item => item} %>
      <% end %>
    </div>
  </div>

<div itemscope itemprop="links" id="links">
  <%= link_to 'Navigation', {:action => "navigation"}, "itemprop" => "link", :rel => "index" %>
</div>
