<div itemscope itemtype="http://localhost/KanbanBoard">

  <h1>My kanban board</h1>

  <%= link_to 'New Item', new_item_path, :rel => "create" %>
<br />

<div itemscope itemprop="column" itemtype="http://localhost/KanbanColumn">
  <h2>Backlog</h2>
  <% @items.where(:status => 'backlog').each do |item| %>
      <%= render :partial => "list_item", :locals => {:item => item} %>
    <% end %>
  </div>

<div itemscope itemprop="column" itemtype="http://localhost/KanbanColumn">
    <h2>Working</h2>
    <% @items.where(:status => 'working').each do |item| %>
      <%= render :partial => "list_item", :locals => {:item => item} %>
    <% end %>
  </div>

<div itemscope itemprop="column" itemtype="http://localhost/KanbanColumn">
    <h2>Verify</h2>
    <% @items.where(:status => 'verify').each do |item| %>
      <%= render :partial => "list_item", :locals => {:item => item} %>
    <% end %>
  </div>
  
  <div itemscope itemprop="column" itemtype="http://localhost/KanbanColumn">
    <h2>Done</h2>
    <% @items.where(:status => 'done').each do |item| %>
      <%= render :partial => "list_item", :locals => {:item => item} %>
    <% end %>
  </div>

  <br />

  <div itemscope itemprop="links" id="links">
    <h2>Navigation</h2>
    <%= link_to 'Index', {:action => "index"}, "itemprop" => "link", :rel => "index"  %><br />
    <%= link_to 'Backlog', {:action => "backlog"}, "itemprop" => "link", :rel => "backlog" %><br />
    <%= link_to 'Working', {:action => "working"}, "itemprop" => "link", :rel => "working" %><br />
    <%= link_to 'Verify', {:action => "verify"}, "itemprop" => "link", :rel => "verify" %><br />
    <%= link_to 'Done', {:action => "done"}, "itemprop" => "link", :rel => "verify" %>
  </div>
</div>
