<div class="<%= get_classes("main h-board") %>"> 

  <h1>
    <%= link_to 'My Kanban board', {:action => "index"}, :rel => "board"  %>
  </h1>

  <div class="<%= get_classes("p-links navigation") %>">
    <%= link_to 'Navigation', {:action => "navigation"}, :rel => "index" %>
  </div>

  <%= link_to 'New Item', new_item_path, :rel => "create-form" %>

  <ol class="p-columns">

    <% Item.states.each do |state| %>
      <li class="h-column">
      <h2 class="p-name"><%= link_to state.capitalize, {:action => state}, :rel => state %></h2>
      <ol class="p-items">
        <% @items.where(:status => state).each do |item| %>
          <%= render :partial => "list_item", :locals => {:item => item} %>
        <% end %>
      </ol>
      </li>
    <% end %>
  </ol>
</div>
