<div class="main h-board"> 

  <h1>My kanban board</h1>

  <%= link_to 'New Item', new_item_path, :rel => "create" %>

  <ol class="p-columns columns">
    <li class="h-column column">
      <h2><%= link_to 'Backlog', {:action => "backlog"}, :rel => "backlog" %></h2>
    <ol>
      <% @items.where(:status => 'backlog').each do |item| %>
        <%= render :partial => "list_item", :locals => {:item => item} %>
      <% end %>
    </ol>
    </li>

    <li class="h-column column">
      <h2><%= link_to 'Working', {:action => "working"}, :rel => "working" %></h2>
    <ol>
      <% @items.where(:status => 'working').each do |item| %>
        <%= render :partial => "list_item", :locals => {:item => item} %>
      <% end %>
    </ol>
    </li>

    <li class="h-column column">
      <h2><%= link_to 'Verify', {:action => "verify"}, :rel => "column verify" %></h2>
    <ol>
      <% @items.where(:status => 'verify').each do |item| %>
        <%= render :partial => "list_item", :locals => {:item => item} %>
      <% end %>
    </ol>
    </li>

    <li class="h-column column">
      <h2><%= link_to 'Done', {:action => "done"}, :rel => "done" %></h2>
    <ol>
      <% @items.where(:status => 'done').each do |item| %>
        <%= render :partial => "list_item", :locals => {:item => item} %>
      <% end %>
    </ol>
  </ol>

  <div id="links">
    <%= link_to 'Navigation', {:action => "navigation"}, :rel => "index" %>
  </div>
</div>
