<!DOCTYPE html>
<html>
<head>
  <title>Kanban AWD API</title>

  <% if (Rails::Server.new.options[:Port] != 3001 && !request.host.match("api")) %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  <% end %>
  <link rel="profile" href="/profile" />
</head>
<body>
  <%= %>
  <%= yield %>
  <% if (Rails::Server.new.options[:Port] != 3001 && !request.host.match("api")) %>
  <script type="text/javascript">

    var applyVisibility = function(className, visibility){
      var element = document.getElementsByClassName(className)[0];
      if (element) {
        element.style.visibility = visibility;
      }
    }

    // Hide navigation to avoid flickering
    applyVisibility("navigation", "hidden");

    // Show navigation after 3 seconds in case of other scripts failed to load/execute
    setTimeout(function(){
      applyVisibility("navigation", "visible");
    }, 3000);

  </script>
  <% end %>
</body>
</html>
